In [1]:
import pandas as pd
import csv
from datetime import datetime as dt
from datetime import date, time
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_csv("boyl to be daily.csv")

In [9]:
#create a new column with hour format
df["Hour"] = pd.to_datetime(df.loc[:,"Hour"], format = '%H').dt.time

In [11]:
#change the dates to datetime format
df["Term Start"] = pd.to_datetime(df.loc[:,"Term Start"]).dt.date

In [14]:
#Join it together to be able to resample
new_df = pd.to_datetime(df.loc[:,"Term Start"].astype(str) + ' ' +df.loc[:,"Hour"].astype(str))

# add column to our orignal data frame
df.insert(3, 'datetime', new_df)

In [18]:
#drop the unecessary columns
df = df.drop(["Hour", "Term Start"], axis=1)

In [19]:
#Set date values as index
df1 = df.set_index("datetime")

In [22]:
#resample into daily format
dailybbatch = df1.resample('D').sum()

In [27]:
def todaily(file):
    df = pd.read_csv(file)
    #create a new column with hour format
    df["Hour"] = pd.to_datetime(df.loc[:,"Hour"], format = '%H').dt.time
    #change the dates to datetime format
    df["Term Start"] = pd.to_datetime(df.loc[:,"Term Start"]).dt.date
    #Join it together to be able to resample
    new_df = pd.to_datetime(df.loc[:,"Term Start"].astype(str) + ' ' +df.loc[:,"Hour"].astype(str))
    # add column to our orignal data frame
    df.insert(3, 'datetime', new_df)
    #drop the unecessary columns
    df = df.drop(["Hour", "Term Start"], axis=1)
    #Set date values as index
    df1 = df.set_index("datetime")
    #resample into daily format
    dailybbatch = df1.resample('D').sum()
    dailybbatch.to_csv('daily.csv')

In [28]:
todaily("boyl to be daily.csv")

In [45]:
#Define a function to attach temperature data 
def addtemp(file):
    df = pd.read_csv(file)
    df2 = pd.read_csv("Tempdata.csv")
    df3 = df2.drop(["STATION", "DATE"], axis=1)
    df.insert(2, 'TAVG', df3)
    df.to_csv('Dailytemp.csv')

In [50]:
#will have to drop columns
df = pd.read_csv("Dailytemp.csv")
df

df2 = df.drop(df.columns[[0]],axis = 1)

In [53]:
#this may not work so great, tweak with df.drop(df.columns[[1]], axis = 1) if neccesary
def dummydates(file):
    #load data
    df = pd.read_csv(file)
    #drop the secondary index
    df = df.drop(df.columns[[0]],axis = 1)
    #split Date into day month year
    df[["Year", "Month", "Day"]] = df["datetime"].str.split("-", expand = True)
    df.to_csv(file)

In [54]:
dummydates("Dailytemp1.csv")

In [55]:
df = pd.read_csv("Dailytemp1.csv")
df

      Unnamed: 0    datetime    Value  TAVG  Year  Month  Day
0              0  2019-01-01   88.027    47  2019      1    1
1              1  2019-01-02  102.371    33  2019      1    2
2              2  2019-01-03   99.489    38  2019      1    3
3              3  2019-01-04   95.921    40  2019      1    4
4              4  2019-01-05   93.018    41  2019      1    5
...          ...         ...      ...   ...   ...    ...  ...
1339        1339  2022-09-01  101.068    74  2022      9    1
1340        1340  2022-09-02   93.182    65  2022      9    2
1341        1341  2022-09-03   90.658    66  2022      9    3
1342        1342  2022-09-04   96.531    71  2022      9    4
1343        1343  2022-09-05   95.572    70  2022      9    5

[1344 rows x 7 columns]